#include <windows.h>

#define version 255,255,255,255 // SVN version

VS_VERSION_INFO VERSIONINFO
FILEVERSION version
PRODUCTVERSION version
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef NDEBUG
FILEFLAGS (VS_FF_PRERELEASE)
#else
FILEFLAGS (VS_FF_DEBUG | VS_FF_PRERELEASE)
#endif
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0" // U.S. English and Unicode
		BEGIN
			VALUE "CompanyName", "The OpenTyrian Team\0"
			VALUE "FileDescription", "OpenTyrian Enhanced\0"
			VALUE "FileVersion", "SVN\0"
			VALUE "InternalName", "tyrian.exe\0"
			VALUE "LegalCopyright", "Copyright (C) 2007\0"
			VALUE "OriginalFilename", "tyrian.exe\0"
			VALUE "ProductName", "OpenTyrian Enhanced\0"
			VALUE "ProductVersion", "SVN\0"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 0x04B0
	END
END

1 ICON "icons/tyrian.ico"